<%= form_with(model: patient) do |form| %>
  <% if patient.errors.present? %>
    <div class="alert alert-danger" role="alert">
      <div class="text-danger">
        <h3><%= pluralize(patient.errors.count, "error") %>prohibited this patient from being saved:</h3>
        <ul>
          <% patient.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info"><%= msg %> </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :upi %>
    <%= form.text_field :upi, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :doctor %>
    <select class="form-control" name="patient[doctor_id]" id="patient_doctor_id">
      <option value="" selected>---------</option>
      <%= doctors.each do |doctor| %>
        <%= content_tag(:option, doctor.person.full_name, value: doctor.person_id, :selected => ("true" if patient.doctor_id) ) %>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= form.label :person_id %>
    <%= form.collection_select :person_id,
        people, :id, :full_name ,
        { :selected => patient.person_id },
        { class: 'form-control'} %>
  </div>
  <div>
    <%= form.submit class: 'btn btn-success mt-3' %>
  </div>
<% end %>
