<%= form_with(model: doctor) do |form| %>
  <% if doctor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>
      <ul>
        <% doctor.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info"><%= msg %> </div>
      <% end %>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :npi %>
    <%= form.text_field :npi %>
  </div>
  <div class="field">
    <%= form.label :person_id %>
    <%= form.collection_select :person_id, Person.order(:id), :id, :full_name , include_blank: '-- select person -- ' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
