<%= form_with(model: doctor) do |form| %>
  <% if doctor.errors.present? %>
    <div class="alert alert-danger" role="alert">
      <div class="text-danger">
        <h3><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h3>
        <ul>
          <% doctor.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info"><%= msg %> </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :npi %>
    <%= form.text_field :npi, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :person_id %>
    <%= form.collection_select :person_id,
        people, :id, :full_name ,
        { :selected => doctor.person_id},
        { class: 'form-control'} %>
  </div>
  <% if doctor.persisted? %>
    <div class="form-group">
      <%= form.label :status %>
      <%= form.select :status, options_for_select(statuses, doctor.status ), {}, { class: "form-control"}  %>
    </div>
  <% end %>
  <div>
    <%= form.submit class: 'btn btn-success mt-3' %>
  </div>
<% end %>
