<h1>Doctors</h1>
<div id="doctors">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>NPI</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>STATUS</th>
        <th>SHOW</th>
      </tr>
    </thead>
    <tbody>
      <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.npi %></td>
          <td><%= doctor.person.first_name %></td>
          <td><%= doctor.person.last_name %></td>
          <td>
            <%= content_tag(:span, doctor.status.humanize, :class => ("text-danger" if !doctor.status_active?)) %>
          </td>
          <td>
            <%= link_to 'Show', doctor, class: 'dropdown-item', class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New doctor", new_doctor_path, class: 'btn btn-primary' %>